# Ignore compiled class files
*.class

# Ignore JAR files
*.jar

# Ignore output directories
/output/*
*.out

# Ignore IDE-specific files
*.idea/
*.iml
*.vs/
.vscode/

# Ignore temporary files
*.tmp
*.log

# Ignore directories created for build
/jar/
/classes/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files (if using Python)
__pycache__/
*.py[cod]
